/*
    Document   :custom-warenkorb
    Created on :25.05.2011, 9:53:52
    Author     :shirokovskiy <info@phpwebstudio.com>
    Description:
        Purpose of the stylesheet follows.
*/

.custom-warenkorb { background: url("../images/warenkorb.png") no-repeat scroll 8px 16px #FFFFFF; display: block; left: 50%; margin-left: 230px; margin-top: -35px; /* см.файл pws.add-ons.js */ min-height: 62px; padding: 10px 20px; position: absolute; width: 210px; z-index: 99; }
.custom-warenkorb p { text-align:right; margin:0; }
.custom-warenkorb .p1 { margin:12px 0 0; }
.custom-warenkorb p .discount_price { color: #DB2828; }
/*.custom-warenkorb a { color:white; font-family:"Trebuchet MS",sans-serif; font-size:18px; font-weight:normal; padding-right:17px; text-decoration:none; }*/

.basket-details {padding-top: 6px}
.custom-warenkorb.bordered { border: 1px solid #bebcb7; box-shadow: 1px 1px 1px #DFDFDF }
