<?php
/**
 * Created by   : Dmitry Shirokovskiy.
 * Email        : info@phpwebstudio.com
 * Date         : 02.02.16
 * Time         : 1:30
 * Description  :
 */

$Mage_Checkout_Block_Cart_Sidebar = Mage::getBlockSingleton('checkout/cart_sidebar');
$_cartQty = (int)$Mage_Checkout_Block_Cart_Sidebar->getSummaryCount();
?>
<style type="text/css">
    .quick-order-box {font-size: 14px}
    .quick-order-box table td {padding: 4px 9px 4px 0}
    .quick-order-box input[type="text"] {width: 240px}
    .quick-order-box .price {color: red}
</style>
<div class="quick-order-box">
    <h1><?php echo $this->__('Quick Order') ?></h1>

    <form action="<?php echo $this->getUrl('checkout/quick_order/save') ?>" method="post" autocomplete="off">
        <table>
            <tr><td align="right"><?php echo $this->__('Firstname'),' ', $this->__('Lastname') ?></td>
                <td><input type="text" id="billing:username" name="billing[username]" class="input-text required-entry"/></td>
            </tr>
            <tr><td align="right"><?php echo $this->__('Phone') ?></td>
                <td><input type="text" id="billing:phone" name="billing[telephone]" class="input-text required-entry"/></td>
            </tr>
            <tr><td align="right"><?php echo $this->__('Email') ?></td>
                <td><input type="text" id="billing:email" name="billing[email]" class="input-text required-entry validate-email"/></td>
            </tr>
            <tr><td align="right"><?php echo $this->__('Company') ?></td>
                <td><input type="text" id="billing:company" name="billing[company]" class="input-text required-entry"/></td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    <p><?php echo $this->__("Your order totals:") ?> <b class="price"><?php echo Mage::helper('checkout')->formatPrice($Mage_Checkout_Block_Cart_Sidebar->getSubtotal()) ?></b></p>
                    <p><?php echo $this->__("You have items in cart:") ?> <b><?php echo $_cartQty ?></b></p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <button class="button" type="submit"><span><span><?php echo $this->__('Save') ?></span></span></button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="shipping_method" value="freeshipping_freeshipping"/>
        <input type="hidden" name="payment_method" value="checkmo"/>
    </form>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.quick-order-box button').click(function(event){
            event.preventDefault();

            if ($('#uName').val() == '') {
                alert('Error: Name is empty!');
                return false;
            }

            if ($('#uPhone').val() == '') {
                alert('Error: Phone number is empty!');
                return false;
            }

            if ($('#uEmail').val() == '') {
                alert('Error: Email address is empty!');
                return false;
            }

            if ($('#uCompany').val() == '') {
                alert('Error: Company name is empty!');
                return false;
            }

            $('.quick-order-box form').submit();
        });
    });
</script>
