<?php
/**
 * Created by   : Dmitry Shirokovskiy.
 * Email        : info@phpwebstudio.com
 * Date         : 02.02.16
 * Time         : 13:45
 * Description  :
 */

echo "<h1>", $this->__('Thank you! Your Order complete'), "</h1>";
?>
<script type="text/javascript">
    setTimeout(function(){

        parent.location.reload();
    }, 800);
</script>
