<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
/**
 * Доступ к ценам
 */
$_accessDeny = true;
if(Mage::getSingleton('customer/session')->isLoggedIn()) {
    $_accessDeny = false;
}
?>
<?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <?php echo $this->getToolbarHtml() ?>
    <div class="category-products">
        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <ul class="c-list">
            <?php $i=0; foreach ($_productCollection as $_product): ?>
                <?php $_product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                <li>
                    <?php if(!$_accessDeny):?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
                    <?php endif ?>
                        <div class="wrap">
                            <div class="product-image">
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(130); ?>" width="65" height="65" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                            </div>
                            <div class="product-shop">
                                <header>
                                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                                    <?php if(!$_accessDeny) echo $this->getPriceHtml($_product, true); else echo '<a href="', Mage::helper('customer')->getLoginUrl(), '">', $this->__('Authorize to see price'), '</a>' ?>
                                </header>
                            </div>
                        </div>
                    <?php if(!$_accessDeny):?>
                    </a>
                    <?php endif ?>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
<?php endif; ?>
