<footer>
    <?php echo $this->getChildHtml() ?>
</footer>
<address class="copyright"><span class="logo"><img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'))?>" width="21" alt="<?php echo $this->__('Karlsbach') ?>"/></span><?php echo $this->getCopyright() ?></address>
