<?php
/**
 * Create account form template
 *
 * @see app/design/frontend/base/default/template/customer/form/register.phtml
 */
/** @var $this Mage_Customer_Block_Form_Register */

$sessionJimmy = Mage::getSingleton("core/session",  array("name"=>"frontend"));
$myMarketingAction = $sessionJimmy->getData("jimmy_marketing_action");
?>
<div class="account-create">
    <div class="page-title">
        <h1><?php echo $this->__('Create an Account') ?></h1>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <div style="color:#db2828;background-color:#fff8da;padding:30px 20px">Регистрация пользователей в текущей версии сайта закрыта! Пожалуйста перейдите <a href="http://karlsbach.eu/ru/customer/account/create/">на страницу регистрации нового сайта</a>.</div>
</div>
