<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
// TODO: доработать доступ по Customer Groups
$_accessDeny = true;
if(Mage::getSingleton('customer/session')->isLoggedIn()) {
    $_accessDeny = false;
}
$quote = Mage::getSingleton('checkout/session')->getQuote();
$currentStoreId = Mage::getModel('catalog/product')->getStoreId();
?>
<div class="total-summ"><?php echo $this->getLayout()->getBlock('warenkorb')->toHtml() ?></div>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php //echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php
            $_product = Mage::getModel('catalog/product')->load($_product->getId());
            // Get Product Image
            $srcProductImg = '';
            $isFancyboxed = ' fb-image';
            if (is_object($_product))
                $srcProductImg = (string)$this->helper('catalog/image')->init($_product, 'image')->resize(600);
            echo "<!-- $srcProductImg -->";
            /**
             * Если картинки нет, то зачем её увеличивать
             */
            if ( strpos($srcProductImg, 'placeholder') ) {
                $isFancyboxed = '';
                $srcProductImg = 'javascript:void(0)';
            }
            ?>
            <a href="<?php echo $srcProductImg ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image<?php echo $isFancyboxed ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php   echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif;

                    $packQty = (int) $_product->getData('pack_qty');
                    $minQty = (int) $_product->getData('start_order_qty');

                    if ($packQty <= 0) {
                        $packQty = 1;
                    }

                    if ($minQty <= $packQty) {
                        $minQty = $packQty;
                    }

                    $maxQty = (int) Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();

                    $strArticle = $_product->getData('article');
                    $strBarcode = $_product->getData('barcode');
                    ?>


                    <div class="desc std">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        <?php if (!empty($strArticle)): ?>
                            <br/><?php echo $this->__('Article: %s', $strArticle)?>
                        <?php endif; ?>
                        <?php if (!empty($strBarcode)): ?>
                            <br/><a onclick="popWin('https://www.barcoderobot.com/ean-13/<?php echo trim($strBarcode) ?>/', '<?php echo trim($strBarcode) ?>', 'width=800,height=700,resizable=1,scrollbars=1')" href="javascript:void(0)"><?php echo $this->__('Barcode: %s', $strBarcode)?></a>
                        <?php endif; ?>
                        <?php if ($packQty > 1): ?>
                        <p><?php echo $this->__('Note: %s pieces in pack', $packQty)?></p><!--Total: <?php echo $maxQty ?>-->
                        <!--<p><?php echo $_product->getSku() ?></p>-->
                        <?php endif; ?>
                    </div>
                    <?php
                    if(!$_accessDeny) {
                        echo $this->getPriceHtml($_product, true);
                    }
                    ?>

                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                    </ul>

                    <?php
                    /**
                     * Проверить, заказан ли данный продукт, и в каком количестве?!
                     */
                    $_productInCartQty = 0;
                    $hasOrderedCssClass = '';
                    if ($quote->hasProductId($_product->getId())) {
                        $_productInCartQty = $quote->getItemByProduct($_product)->getQty();
                        $hasOrderedCssClass = ' shown';
                    }
                    ?>

                    <?php if(!$_accessDeny) { ?>
                        <?php if($_product->isSaleable()): ?>
                            <div class="purchase-box">
                                <span id="has_ordered<?php echo $_product->getId()?>" class="has_ordered_in_list<?php echo $hasOrderedCssClass?>"><?php echo $this->__('in Cart <b>%s</b> items', $_productInCartQty) ?></span>
                                <input type="text" id="qty<?php echo $_product->getId()?>" name="qty" value="<?php echo ((in_array($currentStoreId, array(3,4)) && $minQty > $packQty) ? $minQty : $packQty) ?>" class="input-text qty-spinner" maxlength="5"/> <?php echo $this->__('items') ?>
                                <span id='ajax_loader<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            </div>

                            <script type="text/javascript">
                                jQuery(document).ready(function($){
                                    $('#qty<?php echo $_product->getId()?>').spinner({
                                        min: <?php echo $minQty ?>,
                                        max: <?php echo $maxQty ?>,
                                        step: <?php echo $packQty ?>,
                                        change: function( event, ui ) {
                                            if ( ($(this).val() %  <?php echo $packQty?>) != 0 ) {
                                                // тогда что-то не в порядке => исправим
                                                $(this).spinner('value', (Math.ceil($(this).val() / <?php echo $packQty?>) * <?php echo $packQty?>));
                                            }
                                        },
                                        spin: function( event, ui ) {
                                            //console.log($(this).val() % <?php echo $packQty?>);
                                        }
                                    });
                                });
                            </script>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    <?php } else { ?>
                        <p class="availability out-of-stock"><a href="<?php echo Mage::helper('customer')->getLoginUrl() ?>"><?php echo $this->__('Login to Add to Cart') ?></a></p>
                    <?php } ?>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = 4; // $this->getColumnCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240); ?>" width="240" height="240" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; /*?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                    <?php */ ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>

    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>


    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.fancybox').fancybox(
                {
                    hideOnContentClick : true,
                    width: 382,
                    autoDimensions: true,
                    type : 'iframe',
                    showTitle: false,
                    scrolling: 'no',
                    onComplete: function(){
                        jQuery('#fancybox-frame').load(function() { // wait for frame to load and then gets it's height
                            jQuery('#fancybox-content').height(jQuery(this).contents().find('body').height()+30);
                            jQuery.fancybox.resize();
                        });
                    }
                }
            );

            jQuery('.fb-image').fancybox();
            /*jQuery('.qty-spinner').spinner({
                min: 1
            });*/
        });

        function showOptions(id){
            jQuery('#fancybox'+id).trigger('click');
        }

        /**
         * Данная функция срабатывает при получении ответа от ajax-запроса
         * @param data
         * @param iframe
         */
        function setAjaxData(data,iframe){
            if (data.status == 'ERROR') {
                alert(data.message);
            } else {
//                if(jQuery('.block-cart')){
//                    jQuery('.block-cart').replaceWith(data.sidebar);
//                }

                if(jQuery('.custom-warenkorb')){
                    var bordered = false;
                    var attr = jQuery('.custom-warenkorb').attr('style');
                    var offsetTop = offset.top;

                    if (jQuery('.custom-warenkorb').hasClass('bordered')) {
                        bordered = true;
                    }
                    jQuery('.custom-warenkorb').replaceWith(data.warenkorb);
                    if (bordered) {
                        jQuery('.custom-warenkorb').addClass('bordered');
                    }
                    // For some browsers, `attr` is undefined; for others,
                    // `attr` is false.  Check for both.
                    if (typeof attr !== 'undefined' && attr !== false) {
                        jQuery('.custom-warenkorb').attr('style', attr);
                        $sidebar   = jQuery(".custom-warenkorb");
                    }
                }
                if(jQuery('.header .links')){
                    jQuery('.header .links').replaceWith(data.toplink);
                }
            }
        }

        /**
         * Данная функция срабатывает на нажатие кнопки Add To Cart
         * Отправляет Ajax запрос
         * @param url
         * @param id
         */
        function setLocationAjax(url,id){
            url += 'isAjax/1';
            url = url.replace("checkout/cart","ajax/index");
            var qty = jQuery('#qty'+id).val();

            if (jQuery('#qty'+id) && qty > 1) {
                url += '/qty/'+qty;
            }

            jQuery('#ajax_loader'+id).show();

            try {
                jQuery.ajax( {
                    url : url,
                    dataType : 'json',
                    success : function(data) {
                        jQuery('#ajax_loader'+id).hide();
                        jQuery('#qty'+id).spinner('value', '1');
                        var hasQty = parseInt( jQuery('#has_ordered'+id+'>b').html() );
                        qty = parseInt(qty) + hasQty;
                        jQuery('#has_ordered'+id+'>b').html(qty);
                        if (!jQuery('#has_ordered'+id).hasClass('shown')) {
                            jQuery('#has_ordered'+id).addClass('shown');
                        }
                        setAjaxData(data,false);
                    }
                });
            } catch (e) {
            }
        }
    </script>
</div>
<?php endif; ?>

<div style="display: none">
    <a id="clickXmasWorld" href="#xMasWorld"></a>
    <div id="xMasWorld"><img class="css" title="Xmas World 2014" src="<?php echo $this->getSkinUrl('images/christmasW2014.jpg') ?>"/>
        <h3>Хотите заказать товары с выставки <a href="http://ambiente.messefrankfurt.com/frankfurt/en/besucher/willkommen.html" target="_blank">AMBIENTE 2014</a>?</h3>
        <button onclick="setLocation('/preorder')" style="padding: 5px 15px; cursor: pointer">Да, перейти к товарам!</button>
        <p>&nbsp;</p>
        <h3>Plan to order products on the <a href="http://ambiente.messefrankfurt.com/frankfurt/en/besucher/willkommen.html" target="_blank">AMBIENTE 2014</a>?</h3>
        <button onclick="setLocation('/en')" style="padding: 5px 15px; cursor: pointer">Yes, I do!</button>
    </div>
</div>

<?php
/*
$mySession = Mage::getSingleton('core/session');
$mySessionData = Mage::getSingleton('core/session')->getData('my_magento_session');

?>

<?php if ($currentStoreId <= 1 && !isset($mySessionData['showXmasWarn']) ): ?>
    <?php
    $mySession->setData('my_magento_session', array('showXmasWarn' => true, 'setAt' => time()));
    ?>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        setTimeout(function () {
            $.fancybox({
                type: 'inline',
                content: $('#xMasWorld').html()
            });
        }, 3000);
    });
</script>
<?php endif;*/ ?>


