<?php
/**
 * @author: Shirokovskiy Dimitry, PhpWebStudio
 */

$Mage_Checkout_Block_Cart_Sidebar = Mage::getBlockSingleton('checkout/cart_sidebar');
$currentDiscount = null;
$arrCurrentCartData = $Mage_Checkout_Block_Cart_Sidebar->getTotals();
if (isset($arrCurrentCartData['discount']) && is_object($arrCurrentCartData['discount'])) {
    $currentDiscount = $arrCurrentCartData['discount']->getValue();
//    $currentDiscount = Mage::helper('checkout')->formatPrice($currentDiscount);
}

$_cartQty = (int)$Mage_Checkout_Block_Cart_Sidebar->getSummaryCount();

$_preOrderPage = in_array( Mage::app()->getStore()->getId(), [3,4]);

if ($_preOrderPage && !Mage::getSingleton('customer/session')->isLoggedIn()) :
    $checkoutUrl = $this->getUrl("checkout/quick_order");
else :
    $checkoutUrl = $this->getUrl("checkout/cart");

endif;
?>
<div class="custom-warenkorb">
    <div class="basket-details">
        <p class="p2"><?php echo $this->__("Added") ?> <?php if ($_cartQty > 0 ):?><a href="<?php echo $this->getUrl("checkout/cart") ?>"><?php echo $_cartQty ?> <?php echo $this->__("items") ?></a><?php else: ?>0 <?php echo $this->__("items") ?><?php endif; ?></p>
        <p class="p3"><?php echo $this->__(" Total") ?> <?php echo Mage::helper('checkout')->formatPrice($Mage_Checkout_Block_Cart_Sidebar->getSubtotal()) ?></p>
        <?php if(!empty($currentDiscount)): ?>
        <p class="p3"><?php echo $this->__("Discount") ?> <span class="discount_price"><?php echo Mage::helper('checkout')->formatPrice($currentDiscount) ?></span></p>
        <?php endif; ?>
        <?php if ($_cartQty > 0 ):?>
        <p class="p3"><a href="<?php echo $checkoutUrl ?>" class="basket-box-link"><?php echo $this->__('Checkout...')?></a></p>
        <?php endif; ?>
    </div>
    <div class="clearer"></div>
</div>
<?php if ( $_preOrderPage && !Mage::getSingleton('customer/session')->isLoggedIn()) :?>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // вызвать форму простого заказа
        $(".basket-box-link").colorbox({iframe:true, width:"500px", height:"400px"});
    });
</script>
<?php endif ?>

