<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php
$currentStoreId = Mage::getModel('catalog/product')->getStoreId();
$packQty = (int) $_product->getData('pack_qty');
$minQty = (int) $_product->getData('start_order_qty');

if ($packQty <= 0) {
    $packQty = 1;
}

if ($minQty <= $packQty) {
    $minQty = $packQty;
}
//$maxQty = (int) Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();
?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <label for="qty"><?php echo $this->__('Qty:') ?></label>
        <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo ((in_array($currentStoreId, array(3,4)) && $minQty > $packQty) ? $minQty : $packQty) ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>
<script type="text/javascript">
function setQtyCorrect() {
    if ( ($('qty').value % <?php echo $packQty?>) != 0 ) {
        // тогда что-то не в порядке => исправим
        alert('<?php echo $this->__('Qty automatically fixed!') ?>');
        $('qty').value = (Math.ceil($('qty').value / <?php echo $packQty?>) * <?php echo $packQty?>);
    }
}

document.observe("dom:loaded", function() {
    Event.observe($('qty'), 'change', function(){
        setQtyCorrect();
    });
});
</script>
