<div class="footer-container">
    <div class="footer">
        <?php echo $this->getChildHtml() ?>
        <address><?php echo $this->getCopyright() ?></address>
    </div>
</div>

<!-- Google Code for &#1055;&#1086;&#1082;&#1091;&#1087;&#1082;&#1072; Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 962859947;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "WKf6CKi8p1sQq6eQywM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/962859947/?label=WKf6CKi8p1sQq6eQywM&guid=ON&script=0"/>
    </div>
</noscript>
