<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
$domain = 'eu';
if (isset($_SERVER['_IS_DEVELOPER_MODE'])) {
    $domain = 'du';
}
?>
<div class="header-container">
    <div class="header">
        <?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        <?php endif?>
        <div class="quick-access">
            <?php echo $this->getChildHtml('topSearch') ?>
            <p class="welcome-msg">&nbsp;<?php echo $this->getWelcome() ?> <?php echo $this->getAdditionalHtml() ?></p>
            <?php echo $this->getChildHtml('topLinks') ?>
            <?php echo $this->getChildHtml('store_language') ?>
        </div>
        <?php echo $this->getChildHtml('topContainer'); ?>
        <div class="languages">
            <div class="f-left">
                <a href="<?php echo Mage::app()->getStore('europe')->getBaseUrl(); ?>"><img class="css" title="Europe" src="<?php echo $this->getSkinUrl('images/ban_europa.jpg') ?>"/></a>
            </div>
            <div class="f-left">
                <a href="<?php echo Mage::app()->getStore('default')->getBaseUrl() ?>"><img class="css" title="Russia" src="<?php echo $this->getSkinUrl('images/ban_russia.jpg') ?>"/></a>
            </div>
        </div>
    </div>
</div>
<?php echo $this->getChildHtml('topMenu') ?>
