<?php
/**
 * Created by   : Dmitry Shirokovskiy.
 * Email        : info@phpwebstudio.com
 * Date         : 11/17/14
 * Time         : 1:04 AM
 * Description  :
 */
$categories = $this->getData('categories');
$arrCats = explode(',', $categories);/*
?>
<div style="margin:0 0 20px;padding:20px 30px;text-align:center;font-size:20px;border-top:3px solid #ebbc58;border-bottom:3px solid #ebbc58;color:red;text-transform:uppercase"><?php echo $this->__("Every item discount up to 70%") ?></div>
<?php*/
/*endif;*/

if (is_array($arrCats) && !empty($arrCats)) {
    foreach ($arrCats as $i => $catID) {
        $cat = Mage::getModel('catalog/category')->load($catID);
?>
        <div class="hmb f-left">
            <a href="<?php echo $cat->getUrl() ?>"><img title="<?php echo $cat->getName() ?>" src="<?php echo Mage::getBaseUrl('media').'catalog' . DS . 'category' . DS.$cat->getThumbnail() ?>"<?php echo ($i==1?" style='margin-top:-10px;margin-bottom:15px'":"")?>/></a>
            <h3><a href="<?php echo $cat->getUrl() ?>"><?php echo $cat->getName() ?></a></h3>
            <strong>Цена <?php echo $cat->getName() ?> купить</strong>
        </div>
<?php
    }
}
?>

