<!-- [start] center -->
    <div id="main" class="col-main">
    <!-- [start] content -->
        <div class="page-title">
            <h1>Dear visitors / Уважаемые посетители</h1>
        </div>
        <p>We are currently updating the product catalog. Please try again in 5 minutes.</p>
        <p>We apologize for any inconvenience.</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>В данный момент мы обновляем каталог продукции на сайте. Попробуйте зайти через 5 минут.</p>
        <p>Приносим извинения за временные неудобства.</p>
    <!-- [end] content -->
    </div>
<!-- [end] center -->
